.center{
width: 1150px;
margin: 0 auto;
padding: 20px;
box-sizing: border-box;
background-color: rgb(255, 255, 255);
}

body{
    font-family: 'Manrope', Courier, monospace;
}
p{
    font-size: 20px;
    line-height: 27.32px;
    font-weight: 400;
}
h1{
    font-size: 60px;
    font-weight: 400;
   line-height: 60px;
   text-align: left;
   padding-bottom: 30px;

}



.divan{
    background-image: url('/Rectangle.jpg');
    width: 1150px;
    height: 500px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    

}

.divan-text{
    padding-top: 379px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 680px;
    width: 430px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: white;
   letter-spacing: -0.02em;
}

h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
    padding-bottom: 30px;

}

.cc{
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.003;
    text-align: left;
}

a {
    color: white;
    display: inline-block;
    padding: 20px 40px;
    margin-top: 30px;
    background-color: #ad1818;
    border-radius: 5px;
}
/*a:hover{
    color: rgb(255, 255, 255); 
    background-color:rgb(120, 119, 119) ;

}*/